---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout>
  <Navbar />
  <div class="max-w-3xl mx-auto px-4 py-10">
    <section class="mb-12">
      <h2 class="text-xl font-semibold text-white mb-4">Experience</h2>
      <div class="space-y-6">
        <div>
          <div class="flex items-baseline gap-2">
            <h3 class="text-lg font-semibold text-white">
              Goldenmace IT Solution
            </h3>
            <p class="text-sm text-gray-400">(DevOps Engineer Intern)</p>
          </div>

          <p class="flex text-sm text-gray-500 items-end">Sep 2024 - Present</p>
          <ul class="list-disc list-outside text-gray-400 mt-2">
            <li>
              Maintained digital ocean droplets and space object storage for
              various projects.
            </li>
            <li>
              Maintained hostinger hosting plans and VPS for product which are written in PHP and wordpress.
            </li>
            <li>Implemented CI/CD pipeline for PHP project using GitLab and Docker.</li>
            <li>
              Setup mulitple client projects on various hosting platforms and cloud platforms like AWS, Hostinger, Hostgator, Cpanel and Digital Ocean.
            </li>
              <li>
              Maintend office network and office server for internal use.
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="text-xl font-semibold text-white mb-4">Education</h2>
      <div class="space-y-6">
        <div>
          <h3 class="text-lg font-semibold text-white">
            Bachelor of Technology in Computer Science
          </h3>
          <p class="text-sm text-gray-500">Uka Tarsadia University, Gujarat, India</p>
        </div>
        <!-- Add more education entries as needed -->
      </div>
    </section>

    <section class="mb-12">
      <h2 class="text-xl font-semibold text-white mb-4">Skills</h2>
      <ul class="list-disc list-inside text-gray-400">
        <li>JavaScript, React, Node.js, Next.js</li>
        <li>Docker, GitLab CI/CD, GitHub actions</li>
        <li>HTML, CSS, Tailwind CSS</li>
        <li>AWS, Digital Ocean, Hostinger, Cpanel, Hostgator</li>
      </ul>
    </section>
  </div>
</Layout>
