---
import "../styles/global.css";
---

<div class="flex justify-between items-center px-6 py-4 bg-black text-white shadow-xl shadow-gray-900/60">
  <a href="/" class="text-lg font-semibold">Purv Joshi</a>
  <div class="flex space-x-6">
    <a href="/">About</a>
    <a href="/resume">Resume</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
    <a href="/contact">Contacts</a>
  </div>
</div>
