---
import '../styles/index.css';
import avatar0 from '../assets/avatar-0.png';
import { Image } from 'astro:assets';
---


<aside class="sidebar" data-sidebar>
  <div class="sidebar-info">
    <figure class="avatar-box">
      <Image src={avatar0} alt="Purv Joshi" width="80" />
    </figure>
    <div class="info-content">
      <h1 class="name" title="Purv Joshi">Purv Joshi</h1>
      <p class="title">Software Engineer</p>
    </div>

    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>

      <ion-icon name="chevron-down-outline"></ion-icon>
    </button>
  </div>

  <div class="sidebar-info_more">
    <div class="separator"></div>
    <ul class="contacts-list">
      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:purvjoshi.dev@gmail.com" class="contact-link"
            >purvjoshi.dev@gmail.com</a
          >
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:+919327855143" class="contact-link">+919327855143</a>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="calendar-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Birthday</p>

          <time datetime="2004-04-04">April 4, 2004</time>
        </div>
      </li>

      <li class="contact-item">
        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>Gujarat, India</address>
        </div>
      </li>
    </ul>
    <div class="separator"></div>

    <ul class="social-list">
      <li class="social-item">
        <a
          href="https://github.com/purvjoshi04"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a
          href="https://twitter.com/purv_joshi_"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a
          href="linkedin.com/in/purv-joshi-a54758222"
          class="social-link"
          target="_blank"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</aside>
